<html>
    <head><title>Dynacorp Website error</title></head>
    <body bgcolor="#191919">
        <font color="#FFFFFF">Alert! Application failure. Unable to connect to Redis database from <%= server %>.</font>
        <br>
        <img src="/img/connect-error.jpg">
    </body>
</html>